body {
    font-family: Arial, sans-serif; /*establezco la fuente principal*/
    margin: 0; /*hacemos reset del css para que no pasen cosas que no deseamos*/
    padding: 0;
    background-color: rgb(200, 252, 252); /*color de fondo*/
    
  }

  nav {
    background-color: rgb(1, 140, 119); /*color del fondo del menu*/
    padding: 10px; /*da espacion del contenido del menu*/
    text-align: center; /*alineamos al centro el texto*/
  }

  nav ul {
    list-style: none; /*quitamos los marcadores de la lista*/
    margin: 0; /*reset del css de la lista*/
    padding: 0;
    display: inline-block; /*ponemos en linea los elementos de la lista*/
  }

  nav li {
    display: inline-block; /*los elementos de la lista se ponen en linea*/
    margin-right: 20px; /*separamos los elementos con margen a la derecha*/
    position: relative; /*posicion relativa para los submenus*/
  }

  nav a {
    text-decoration: none; /*elimina la decoración de subrayado de los enlaces*/
    color: white;   /* establece el color del texto de los enlaces.*/
    padding: 10px;  /*agrega relleno a los enlaces para que se vean mas navegables*/
    display: block; 
  }

  nav a:hover {
    /*Aplica estilos cuando el raton esta sobre el enlace*/

    background-color:rgb(1, 140, 119); /*cambia a este color cuando el raton pasa por encima*/
  }

  /* Submenú */
  nav ul ul {
    display: none; /*hace que no se vea de primeras el submenu*/
    position: absolute; 
    /*Coloco el submenu justo debajo y alineado a la izquierda del elemento padre.*/
    top: 100%; 
    left: 0;
    background-color: #555;
    border: 1px solid #333; /*agrega borde al submenu*/
  }

  nav li:hover > ul {
    display: block; /*Muestra el submenu cuando se pasa el raton sobre el elemento de la lista.*/
  }

  nav ul ul li {
    width: 100%; /*ancho de los elementos del submenu al 100%*/
    display: block;
  }

  nav ul ul a {
    padding: 10px 20px;
  }

  nav ul ul ul {
    top: 0;
    left: 100%;
    border-top: 1px solid #333;
  }
/* imagen del index */
  body .imageInicio{
    text-align: center;
    margin-top: 30px;
  }
  .imageInicio img {
    width: 60%; 
  }

  /*CSS PARA LA PAGINA DEL CENTRO */
  .parrafo{
    background-color: #73e2f5;
    border: solid  ;
    border-radius: 10px;
    grid-column: 2;
    width:88%;
    height: 88%;
    padding: 2%;
    font-size: 20px;
    
    }
    .divParrafo{
    padding-top: 3%;
    padding-left: 6%;
    }
  /* CSS PARA PAGINA AULAS */

  .h1aulas{
    text-align: center;
    padding-top: 2%;
    justify-content: center;
  }
  
  .imgAulas{
    text-align: center;
    justify-content: center;
    padding-left: 35%;
  }

  /* css para pagina Historia */
  .parrafoHistoria{
    background-color: #73e2f5;
    border: solid  ;
    border-radius: 10px;
    grid-column: 2;
    width:88%;
    height: 88%;
    padding: 2%;
    font-size: 20px;
  
    
    }
    /* css para pagina ESO */
    .parrafoEso{
     
      
      grid-column: 2;
      width:18%;
      height: 88%;
      padding: 2%;
      font-size: 20px;
      display: flex;
      background-color: #2e79fb48;
      text-align: center;
      margin: auto;
      }
      .divEso{
     
        padding-left: px;
        text-align: center;

        }

        /* CSS para el formulario de login */
       
        .container {
          background-color: #9beeff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          width: 300px;
          text-align: center;
          margin: auto;
          
      }

      .container h2 {
          color: #333;
      }

      .form-group {
          margin-bottom: 20px;
      }

      .form-group label {
          display: block;
          margin-bottom: 8px;
          font-weight: bold;
      }

      .form-group input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .form-group button {
          background-color: #2e79fb;
          color: #fff;
          padding: 10px 15px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }

      .form-group button:hover {
          background-color: #4562a05f;
      }